/*Estilo globales*/
:root {
    --fuente-primaria: 'Inter', sans-serif;

    --gris: #545C63;

    --color-primario: #001641;
    --color-secundario: #FEBF17;
    --color-terciario: #fff;
}

body {
    font-family: var(--fuente-primaria);
}

/* @media (min-width:1200px) {
    section{
        padding-left: 10rem;
        padding-right: 10rem;
    }
} */

h1,
h2 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
}
ul {
    padding-left: 0;
}

i {
    font-size: 24px;
    color: white;
}

img {
    max-width: 100%;
}

.redes__iconos {
    display: flex;
    gap: 12px;
}


.pagina-encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.pagina-encabezado h1 {
    text-align: center;
}

.pagina-encabezado p {
    text-align: center;
    font-size: 16px;
}

.separador {
    width: 100%;
    border-bottom: 3px solid #D9D9D9;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* botones */
.buWhatsapp {
    color: white;
    background-color: #25D366;
}
.buWhatsapp:hover {
    color: white;
    background-color: #25D366;
}

.buAgregar {
    color: white;
}

.buCancelar {
    background-color: red;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    line-height: 0;
}

.buCancelar i{
    font-size: 20px;
}

/* navbar */

.navbar-info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5rem;
}

@media (max-width: 767px) {
    .navbar-info {
        display: none;
    }
}

.navbar-info__item {
    color: white;
    font-size: 16px;
    display: flex;
    gap: 8px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    /* padding: 20px 0; */
    background-color: white;
}

.navbar__contenido {
    padding: 0 50px;
}

@media (max-width: 992px) {
    .navbar__contenido {
        padding: 0 1rem;
    }
}

.navbar__logo {
    font-size: 1.5rem;
}

.navbar__logo img {
    width: auto;
    max-height: 60px;
    object-fit: contain;
    max-width: 130px;
}

@media (min-width:768px) {
    .navbar__logo img {
        max-height: 80px;
        width: auto;
        object-fit: contain;
        max-width: 200px;

    }
}


.navbar__toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    font-weight: 700;

}


.navbar__menu a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    font-size: 20px;
}

.navbar__menu a:hover {
    color: white;
}



.navbar__carrito {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.navbar__carrito:hover {
    color: white;
}

.navbar__carrito button {
    text-wrap: nowrap;
}

.navbar__carrito-mobile {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: none;
    position: relative;
}

@media (max-width: 992px) {
    .navbar__carrito {
        display: none;
    }
}

@media (max-width: 992px) {
    .navbar__carrito-mobile {
        display: block;
    }
}

.navbar__carrito__cantidad{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--color-primario);
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.6rem;
    font-size: 14px;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;

}

@media (max-width: 767px) {
    .navbar-nav {
        align-items: center;
    }
}

.menu-item a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-weight: 700;
}

.menu-item a:hover {
    color: white;
    border-radius: 20px;
}

.navbar-collapse {
    justify-content: center;
    padding-top: 0.75rem;
}

@media (min-width:768px) {
    .navbar-collapse {
        padding-top: 0;
    }
}

.servicios-seleccionados {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}


.servicios-seleccionados .servicios-title{
    flex: 1 0 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

@media (min-width: 768px) {
    .servicios-seleccionados .servicios-title{
        flex: 4 0 0;
        flex-direction: row;
        gap: 20px;
    }
}
.servicios-seleccionados .servicios-title img{
    width: auto;
    height: 60px;
    object-fit: contain;
}
.servicios-seleccionados p {
    margin: 0;
    font-weight: 700;
}
.servicios-cantidad{

}
.servicios-cantidad button{
    background-color: transparent;    
    border: none;
}
.servicios-cantidad button i{
    color: black;
}

.servicios-cantidad input{
    width: 50px;
    text-align: center;
    font-weight: 700;
}

.servicios-seleccionados>* {
    display: flex;
    justify-content: center;
    flex: 1 0 0;
    text-align: center;
    height: fit-content;
}


/* footer */
.fondo_gore {
    background-color: #9E0C26 !important;
}

.fondo-blanco {
    background-color: white !important;
    color: black !important;
}

.footer_empresa {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 50px;
}

@media (max-width: 768px) {
    .footer_empresa {
        flex-direction: column;
        gap: 30px;
    }
}

.footer_empresa>div {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
}

.footer_empresa img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

.footer_empresa__redes {
    display: flex;
    justify-content: center;
    gap: 20px;

}

/* .footer_empresa__redes a{
    font-size: 20px;
} */
.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem 0rem;
}

.footer-info__item {
    color: white;
    font-size: 14px;
    display: flex;
    gap: 8px;
    padding-top: 6px;
}

.footer-gob {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 30px 0;
    gap: 25px;
}

.footer-gob__logos_phone {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: column;
}

.footer-gob__logos_phone .footer-gob__logos__gore {
    width: 250px !important;
}

.footer-gob__logos_phone .logo_hagamos_historia {
    width: 250px;
}

.footer-gob__logos_phone .logo_mypes {
    width: 120px;
    height: auto;
}


@media (min-width:768px) {
    .footer-gob__logos_phone {
        display: none;
    }
}

.footer-gob__logos {
    display: flex;
    gap: 6rem;
    align-items: end;
    /* Alinea las imágenes verticalmente */
}

.footer-gob__logos img {
    width: 150px;
    /* Tamaño base para las imágenes */
    height: auto;
    /* Mantiene la proporción de la imagen */
}

.footer-gob__logos__gore {
    width: 250px !important;
    /* Ajusta este valor según tus necesidades */
    /* height: auto; */
}

@media (max-width: 768px) {
    .footer-gob__logos .footer-gob__logos__gore {
        display: none;
    }

    .footer-gob__logos .logo_gerepro {
        display: none;
    }

    .footer-gob__logos .logo_mypes {
        display: none;
    }

}

.footer-gob__slogan img {
    height: 30px;
    width: auto;
}

.footer-gob__copy {
    display: flex;
    justify-content: center;
    text-align: center;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.whatsapp-float i {
    margin-top: 15px;
    font-size: 2rem;
}

/* Añadir efecto hover */
.whatsapp-float:hover {
    background-color: #20b358;
    color: #fff;
}

.bg-concrete-50 {
    padding: 70px 15px;
    background: url('../imagenes/fondos/concrete-50.png');

}

.bg-concrete {
    background-image: linear-gradient(rgba(164, 164, 164, 0.5), rgba(164, 164, 164, 0.5)), url("../imagenes/fondos/concrete.jpg");
    background-position: center;
    background-size: cover;
}

/* home */

.historia {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding: 50px; */
    align-items: center;

}

@media (max-width: 768px) {
    .historia {
        flex-direction: column-reverse;
        padding: 50px 20px;
    }
}

.historia div {
    flex-grow: 1;
    flex-basis: 0;
}

.historia img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.historia__contenido h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.historia__contenido p {
    text-align: center;
}


.bg-servicio {
    background-image: linear-gradient(rgba(164, 164, 164, 0.5), rgba(164, 164, 164, 0.5)), url("../imagenes/fondos/concrete.jpg");
    background-position: center;
    background-size: cover;
    padding: 30px 10px;
}

.servicio {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 992px) {
    .servicio {
        flex-direction: column;
        padding: 20px;
    }

    .servicio__card__button {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        padding: 0px 30px
    }
}

.servicio__card {
    align-self: stretch;
    background-color: white;
    border-radius: 20px;
}


.servicio>div {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    max-width: 360px;
    margin: auto;
}

@media (min-width: 992px) {
    .servicio>div {
        margin: 0;
    }
}

.servicio__card__button button:hover {
    background-color: var(--color-secundario);
}

.servicio__card {
    padding-bottom: 20px;
}

.servicio__card__descripcion {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    padding: 0px 20px;

}

.servicio__card__button {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.servicio__card__button button {
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}

.servicio__card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* nosotros */

.nosotros__encabezado {
    background-image: url(../img/bg_piedra.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros__encabezado h1 {
    text-align: center;
}

.nosotros__encabezado p {
    text-align: justify;
    font-size: 24px;
}

/* historia */
.nosotros {
    padding: 0px;
}

.nosotros__historia {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.nosotros__historia p{
    text-align: justify;
}

.nosotros__historia__logo {
    display: flex;
    justify-content: center;

}

.nosotros__historia__logo img {
    width: 575px;
    height: auto;
    object-fit: contain;
}


.nosotros__historia h2 {
    text-align: center;
}

.nosotros__declaracion {
    padding: 20px 20px;
    display: flex;
    gap: 50px;
}

.nosotros__declaracion p{
    text-align: justify;
}

@media (max-width: 992px) {
    .nosotros__declaracion {
        flex-direction: column;
    }
}

.nosotros__declaracion>div {
    flex: 1 0 0;
}

/* servicios */

/* contacto */
.contacto {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

.contacto__info {
    padding: 40px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

@media (max-width: 992px) {
    .contacto__info {
        flex-direction: column;
    }
}

.contacto__info>div {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.contacto__info__formulario {
    color: var(--gris);
    border-radius: 1rem;
}

.contacto__info__formulario .wpcf7-text,
.wpcf7-textarea {
    padding: 10px;
    border: 0px solid;

    width: 100%;
    background-color: #F5F4F4;
    border-radius: 10px;
}

.wpcf7-submit {
    padding: 10px;
    border: 0px solid;
    background-color: var(--gris);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.contacto__info__formulario .wpcf7-text:focus-visible,
.wpcf7-textarea :focus-visible {
    border: 1px solid var(--gris);

}

.contacto__porque {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    width: 100%;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formulario>form>div {
    display: flex;
    flex-direction: column;
}

.formulario input,
textarea {
    padding: 10px;
    border: 0px solid;
    width: 100%;
    background-color: #F5F4F4;
    border-radius: 10px;
}

.formulario .submit {
    width: 100%;
    padding: 10px;
    border: 0px solid;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 15px;
}

.servicio-detalle {
    padding: 4rem;
}

@media (max-width: 768px) {
    .servicio-detalle {
        padding: 1rem;
    }
}

.servicio-detalle__card {
    display: flex;
    background-color: white;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .servicio-detalle__card {
        flex-direction: column;
        display: flex;
    }

    .servicio-detalle__card__buttons {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
}

.servicio-detalle__card__imagen {
    flex: 2 0 0;
}

.servicio-detalle__card__imagen img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.servicio-detalle__card__descripcion {
    flex: 3 0 0;
    padding: 2rem 3rem;
}

.servicio-detalle__card__descripcion h4 {
    font-weight: 900;
    font-size: 1.8rem;
}

@media (min-width: 992px) {
    .servicio-detalle__card__descripcion h4 {
        font-size: 2.5rem;
    }
}

.servicio-detalle__card__descripcion h5 {
    font-size: 1.5rem;
    font-weight: 600;
}

.servicio-detalle__card__descripcion .separador {
    margin-top: 1rem;
    margin-bottom: 1.5rem;

}

.servicio-detalle__card__buttons {
    display: flex;
    gap: 1rem;
}

.servicio-detalle__card__buttons button {
    flex: 1 0 0;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.descripcion ul{
    padding-left: 20px;
}
.descripcion{
    text-align: justify;
    padding-bottom: 40px;
}
.modal-title-icon{
    color: #075E54;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.modal-title-icon h5{
    text-align: center;
}

.modal-title-icon i{
    color: #075E54;
}

.modal-header .btn-close{
    flex: 0 0 auto;
    margin: 0;
}
